body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

body,
.custom-select {
color: #8298AE;
}

.hidden {
  display: none !important;
}

.navbar-brand, .navbar-brand:hover {
  color: #3c3c3c;
  font-size: x-large;
}
.navbar-brand,
h5 {
  font-weight: 300;
}

.navbar {
  border-bottom: 1px solid #CED8E0;
}

.add-investment {
  margin-top: .9em;
}

.card-title {
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card.investment:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !important;
}

.currency {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 65px;
}
